@using Accessasoft.Extentions

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--custom address bar colors android, ios, windows phone-->
    <meta name="theme-color" content="#00358b">
    <meta name="msapplication-navbutton-color" content="#00358b">
    <meta name="apple-mobile-web-app-status-bar-style" content="#00358b">

    <!-- Open Graph data -->
    <meta property="og:title" content="Welcome To Accessasoft" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.testaccessasoft.azurewebsites.net/" />
    <meta property="og:image" content="http://testaccessasoft.azurewebsites.net/Images/Welcome.jpg" />
    <meta property="og:description" content="An Amazing Mobile App and Website Development Studio!" />
    <meta property="og:site_name" content="Accessasoft" />
    <title>@ViewBag.Title - Accessasoft</title>

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="http://www.testaccessasoft.azurewebsites.net/">
    <meta name="twitter:title" content="Welcome To Accessasoft">
    <meta name="twitter:description" content="An Amazing Mobile App and Website Development Studio!">
    @*<meta name="twitter:creator" content="@timblokzyl">*@
        <meta name="twitter:image" content="http://www.testaccessasoft.azurewebsites.net/Images/Welcome.jpg">
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/myscripts")
        @RenderSection("scripts", required: false)

</head>
<body>
    <div class="loading"></div>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Accessasoft", "Index", "Home", null, new { @class = "navbar-brand nav-text" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li class="@Html.IsActive("Home", "Index")">@Html.ActionLink("Home", "Index", "Home", null , new { @class = "nav-text" })</li>
                    <li class="@Html.IsActive("Home", "About")">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-text" })</li>
                    <li class="@Html.IsActive("Home", "Contact")">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-text" })</li>*@
                    <li id="button1" class="nav-text"><a class="nav-text">Home</a></li>
                    <li id="button2" class="nav-text"><a class="nav-text">Our Mission</a></li>
                    <li id="btnOurPeople" class="nav-text"><a class="nav-text">Our People</a></li>
                    <li id="btnOurWork" class="nav-text"><a class="nav-text">Our Work</a></li>
                    <li id="button3" class="nav-text"><a class="nav-text">Contact Us</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - Accessasoft</p>
        </footer>
    </div>
</body>
</html>
